* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: inherit;
    font-family: sans-serif;
}

#text-input {
    display: flex;
    gap: .4rem;
}

#text-input input {
    width: 50%;
}

form {
    width: 30rem;
    padding: .35rem;
    border: 1px solid #eee;
}

form input{
    padding: .25rem;
    margin-bottom: .4rem;
}

.block {
    display: block;
    width: 100%;
    
}

.pin, .clear {
    background: #D22B2B;
    outline: none;
    color: white;
    border: none;
    border-radius: .2rem;
    padding: .4rem;
    cursor: pointer;
}

.container {
    max-height: 14.5rem;
    overflow: auto;
}

#pins {
    list-style-type: none;
}

#pins li {
    font-size: 1.4rem;
    border: 1px solid #e2e2e2;
    padding: .2rem;
    border-radius: .2rem;
    position: relative;
    margin-bottom: .25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#pins li span {
    position: relative;
    flex: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pins li span:after {
    content: 'Tap to copy';
    text-align: right;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent, white 30%);
    opacity: 0;
    transition: .15s opacity linear;
}

#pins li span:hover:after {
    opacity: 1;
}

.copied:after {
    content: 'Copied' !important;
}